/******************通用************************/
/*@font-face{
	name:
	下载服务端字体
}*/

	body {
		margin: 0;
		padding: 0;
		font: 1.5px 'Helvetica Neue', Helvetica, Arial, sans-serif;
		background: #DADADA;
		background: url(../images/background.jpg) no-repeat center top;
		background-size: 100% 100%;
		box-sizing: border-box; /**盒子模型**/
	}

	ul, li, p, h1, h2, h3, h4, h5, h6, dl, dd, div {
		margin: 0;
		padding: 0;
		list-style: none;
		color: #333;
	}

	input, button {
		border: 1px solid #ccc;
		color: #ccc;
		border-radius: 3px;
	}

	a {
		text-decoration: none;
		color: #666666;
		outline: none;
	}


	#header,#headerPage,#aboutMe,#skills,#myWorks,#footer,#nav, #main, #footer, #introduce{
		width: 100%;
		margin: 0 auto;
		overflow: hidden;
	}

	#minMain, #aboutMe, #skills, #myExperience, #myWorks, #footer {
		width: 1000px;
		margin: 0 auto;
		height: 684px;
		text-align: center;
	}

	/********头字*********/
	.myTxet > h2, #skills > ul > h2 {
		font-size: 24px;
		margin: 0 auto;
	}

	img {
		vertical-align: bottom;
	}
	/**留言摸态框**/
	.modal {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: rgba(0,0,0, .7);
		z-index: 10000;
		display: none;
	}
	.modal-dialog {
		width: 60%;
		margin: 100px auto;
		position:relative;
	}
	.modal-content {
		background: #D5D5D5;
		border: 1px solid #aaa;
		border-radius: 3px;
		box-shadow: 0 0 5px #aaa;
		padding: 16px 12px;
		overflow: hidden;
	}
	#login-form{
		margin: 0 auto;
	}
	#entry{
		display:block;
	}
	#entry>input{
		width: 37%;
		height: 35px;
		margin: 10px 40px;
		padding-left:10px;
		color:#434343;
	}
	#message{
		padding:10px;
		resize:none;
		width: 70%;
		margin: 30px auto;
		height: 245px;
		display:block;
		color:#434343;
	}
	.qd{
		width: 100px;
		height: 50px;
		display: block;
		color: #282828;
		border: 1px solid #A0A0B4;
		float: left;
	}
	#bt-login2{
		 margin-left:5px;
	 }
	#bt-login{
		margin-right:5px;
	}
	.center{
		margin: 0 auto;
		width: 215px;
	}
	#close{
		font-size: 50px;
		position: absolute;
		right: 3px;
		top: -12px;
		cursor: pointer;
	}
	/**留言记录**/
	#modal-dialog1{
		width: 60%;
		position: relative;
		margin: 100px auto;
	}
	#record{
		position: absolute;
		top: 0;
		left: 0;
		width: 97%;
		display: none
	}
	#integration{
		margin: 10px auto;
		border:1px solid #A0A0B4;
		overflow: hidden;
		padding: 10px;
	}
	.entry1{
		overflow: hidden;
		border-bottom:1px solid #ddd;
	}
	.uname1{
		float:left;
	}
	.relation1{
		float:right;
	}
	#bt-login1 {
		width:100px;
		height:50px;
		margin-right:5px;
		display: block;
		color:#282828;
		border:1px solid #A0A0B4;
		margin:0 auto;
	}
	#message1{
		padding: 10px;
		color: #434343;
		border-bottom: 1px solid #ddd;
		padding-left: 20px;
	}
	.time1{
		float: right;
		margin-top: 10px;
	}
	#close1{
		font-size: 50px;
		position: absolute;
		right: -2px;
		top: -12px;
		cursor: pointer;
	}
	/*************头部teader**************/
	#nav {
		overflow: hidden;
		background: rgba(203, 203, 203, 0.56);
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 100;
	}
	#nav:first-child img {
		border-radius: 50%;
		border: 4px solid #fff;
		width: 55px;
		height: 55px;
		margin-left: 50px;
		margin-top: 2px;
		float: left;
		transition: 1s ease, box-shadow 0.5s;
		box-shadow: 0 0 15px 5px #888888;
	}

	#nav:first-child div {
		float: left;
		margin-top: 9px;
		margin-left: 20px;
	}

	#underLine {
		padding: 0 8px 5px 8px;
		text-align: center;
		color: #666666;
		border-bottom: 1px solid #333;
		font-size: 80%;
	}

	#resume {
		padding: 5px 8px 0 8px;
		font-size: 80%;
	}

	#nav > ul.homePage {
		float: right;
		margin-right: 50px;
		height: 68px;
		line-height: 68px;
	}

	#nav > ul.homePage > li {
		float: right;
		margin-left: 100px;
		transition: .5s ease-in;
	}

	ul.homePage > li > a {
		position: relative;
	}

	ul.homePage > li > a:hover:after {
		color: #000;
		left: 0;
		right: 0;
		opacity: 1;
	}

	ul.homePage > li > a:after {
		content: "";
		position: absolute;
		left: 50%;
		right: 50%;
		bottom: -20px;
		height: 2px;
		background: #1FAEFF;
		-webkit-transition: .2s ease-in;
		transition: .2s ease-in;
	}

	/************小主体：1*****************/
	#minMain>.position{
		padding-top:350px;
		opacity: 0;
	}
	div.size {
		width: 800px;
		margin: 0 auto;
	}

	div.size p {
		text-align: center;
		margin: 40px;
		padding-right: 70px;
		opacity: 0;
	}

	div.size p:first-child{
		padding-right: 0px;
		opacity: 0.3;
	}

	div.size a {
		-webkit-transition: All 1s ease;
		transition: All 1s ease;
		cursor: auto;
	}

	div.size a:hover {
		padding-right: 40px;
	}

	div.size .content {
		width: 0;
		margin: 15px auto;
		border-top: 1.5px solid rgba(32, 32, 32, 0.59);
	}

	#headPortrait {
		margin: 0px auto;
		width: 160px;
		height: 160px;
		border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		overflow: hidden;
	}

	#headPortrait > a {
		display: block;
		background: url(../images/s8.jpg) no-repeat;
		background-size: 160px;
		width: 160px;
		height: 160px;
		padding-top: 173px;
		transition: All 1s ease;
		-webkit-transition: All 1s ease;
		-webkit-transition-property: all;
		-webkit-transition-duration: 1s;
		-webkit-transition-timing-function: ease;
		-webkit-transition-delay: initial;
	}

	#headPortrait > a > span {
		display: block;
		width: 160px;
		height: 80px;
		text-align: center;
		font-size: 16px;
		line-height: 40px;
		color: #fff;
		background: rgba(0, 0, 0, 0.5);
	}

	#headPortrait > a:hover {
		padding-top: 92px;
		transform-origin: 50% 50%;
	}

	/*********侧边导航:aside***********************/
	#aside {
		position: fixed;
		right: 0;
		margin: 10px 0;
		width: 50px;
		height: auto;
		display: block;
		z-index: 1000;
		opacity: 0;
	}

	#aside a {
		background: url(../images/aside_1.png) no-repeat center center;
		position: relative;
		display: block;
		margin: 10px 0;
		width: 20px;
		height: 20px;
		border-radius: 50%
	}

	#aside .selected {
		background: url(../images/aside_2.png) no-repeat center center;
	}

	#aside b {
		position: absolute;
		top: 0;
		font-size: 9px;
		font-weight: normal;
		line-height: 20px;
		right: 100%;
		width: 100px;
		padding-right: 5px;
		text-align: right;
		opacity: 0;
	}

	/***********关于我:aboutMe************/
	div.myTxet {
		padding-top: 88px;
		text-align: center;
		font-size: 14px;
		height: 104px;
	}

	div.toLine {
	width: 0;
	margin: 15px auto;
	border-top: 2px solid #f00;
	padding: 15px 0;
	}

	div.myTxet h2.aM {
	font-size: 12px;
	color: #f00;
	display: none;

	}
	#skills>p{
		margin-top:15px;

	}

/*********关于我小主体:2*************/
	#oval {
		margin: 0 auto;
		width: 700px;
		height: 200px;
		margin: 30px auto;
		background: #A0A0B4;
		border-radius: 20px;
	}

	#oval>div.circle {
		margin: 0 70px 0 70px;
	}
	#oval>div.circle>div {
		cursor: pointer;
	}
	div.shift{
		margin:10px
	}

	.education>.shift {
		content: url(../images/education.png);
	}

	.ages>.shift{
		content: url(../images/age.png);
	}

	.location>.shift {
		content: url(../images/location.png);
		margin:10px auto 5px;
	}

	.status>.shift {
		content: url(../images/status.png);
		margin:14px auto;
	}

	.circle >div {
		overflow: hidden;
		width: 76px;
		height: 76px;
		border-radius: 50%;
		float: left;
		margin: 30px 30px 20px 30px;
		box-shadow: 0 0 0 4px rgba(255, 255, 255, 1);
		webkit-transition: background 1s, color 1s, box-shadow 1s;
		transition: background 1s, color 1s, box-shadow 1s;
	}

	.circle > div:hover {
		background: rgba(255, 255, 255, 1);
		color: #702fa8;
		box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.3);
	}

	.circle >div>span {
		margin-top: 30px;
		line-height: 20px;
		position: absolute;
		color: #fff;
		text-align: left;
		display:block;
	}

	.circle .location>span{
		margin-top: 35px;
	}

	.circle .status>span{
		margin-top:22px;
	}

	.circle  p {
		padding: 10px 0 0 56px;
		text-align: right;
		font-size: 14px;
		color: #fff;
	}

	.circle  p:before {
		display: block;
		content: "";
		position: absolute;
		left: -6px;
		background: #ccc;
		height: 2px;
		width: 90px;
		bottom: 25px;
		-webkit-transform: rotate(-30deg);
		transform: rotate(-30deg);
	}

	/********介绍**********/
	#introduce {
		width: 800px;
		position: relative;
	}

	#introduce:before {
		width: 50px;
		height: 50px;
		position: absolute;
		top: 0;
		left: 0;
		content: "";
		border-top: 2px solid #5686D6;
		border-left: 2px solid #5686D6;
		-webkit-animation: introduce .8s ease-in 2s;
		animation: introduce .8s ease-in 2s;
	}
	#introduce:after {
		width: 50px;
		height: 50px;
		position: absolute;
		right: 0;
		bottom: 0;
		content: "";
		border-right: 2px solid #5686D6;
		border-bottom: 2px solid #5686D6;
		-webkit-animation: int .8s ease-in 2s;
		animation: int .8s ease-in 2s;
	}

	#introduce > p {
		text-align: center;
		line-height: 40px;
		position: relative;
		bottom: -300px;
	}
	/**************技能展示******************/
	#skill_list {
		margin: 20px auto;
		width: 100%;
		font-size: 16px;
		height: 400px;
		position: relative;
		display: none;
		-webkit-transform:scale(1);
		transform: scale(1);
	}

	#skill_list > div.javascript {
		float: left;
		margin: 0 7.5%;
		position: relative;
		left:2%;
	}

	#skill_list  div.skill_icon {
		cursor: pointer;
		background-size: 100%;
		width: 90px;
		height: 100px;
		text-align: center;
		margin: 30px auto;
		transition: transform .25s;
	}


	#skill_list .skill_name {
		font-weight: bold;
		margin: 40px 0;
	}

	#skill_list .skill_flag {
		background: url(../images/skill_flag.png);
		width: 20px;
		height: 20px;
		transition-duration: 1s;
		margin: 0 auto;
	}
	#AngularJs{
		background: url(../images/ng.png) no-repeat;
	}
	#Html{
		background: url(../images/html.png) no-repeat;
	}
	#Css{
		background: url(../images/css.png) no-repeat;
	}
	#Js{
		background: url(../images/js.png) no-repeat;
	}
	#skill_list .skill_int {
		position: absolute;
		top:280px;
		left:-95px;
		bottom: 30px;
		height: 80px;
		width: 250px;
		text-align: left;
		font-size: 14px;
		line-height: 20px;
		display:none;
		border: 1px solid #ccc;
		border-radius: 10px;
		background: #A0A0B4;
		padding: 15px;
	}
	 #adjust{
		left:-72px;
	}
	.skill_flag_scale {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	 .scale {
		-webkit-animation: scale 1s;
		animation: scale .5s;
	}
	.skill_icon:hover {
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
		cursor: pointer;
	}
	/************************************************我的作品****************************************************/
	div.demo_box {
		height: 204px;
		width: 1000px;
	}

	li.demo_scale {
		position: relative;
		outline: 2px solid #efefef;
		z-index: 2;
		width: 200px;
		height: 150px;
		margin: 125px 25px 25px 25px;
		float: left;
		background: #fff;
		opacity: 0;
	}

	li.demo_scale:before {
		z-index: -2;
		position: absolute;
		width: 90%;
		height: 80%;
		content: "";
		left: 14px;
		bottom: 8px;
		background: transparent;
		-webkit-transform: skew(-12deg) rotate(-4deg);
		transform: skew(-12deg) rotate(-4deg);
		box-shadow: 0 8px 30px rgba(0, 0, 0, 0.6);
	}

	li.demo_scale:after {
		z-index: -1;
		position: absolute;
		width: 90%;
		height: 80%;
		content: "";
		right: 14px;
		bottom: 8px;
		background: transparent;
		-webkit-transform: skew(12deg) rotate(4deg);
		transform: skew(12deg) rotate(4deg);
		box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
	}

	div.demo_box_content {
		position: relative;
		overflow: hidden;
		cursor: pointer
	}

	div.demo_box_hover {
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.1);
		-webkit-transition: background 2s;
		transition: background 2s;
	}

	div.demo_box_hover:hover {
		background: rgba(238, 124, 123, 0.8);
	}

	div.demo_box_hover > p {
		position: absolute;
		left: 39px;
		top: -30px;
		font-weight: bold;
		font-size: 20px;
		-webkit-transition: top 1s;
		transition:top 1s;
	}

	div.demo_box_hover a {
		position: absolute;
		left: 73px;
		top: 150px;
		-webkit-transition: top 1s;
		transition:top 1s;
	}

	/*********激励*************/
	div.encourage {
		border-top: 1px solid #f00;
		margin-top: 200px;
		opacity: 0;
	}

	div.encourage > p {
		width: 800px;
		margin: 35px auto;
		text-align: center;
		line-height: 30px;
		font-weight: bold;
	}

	/**************************************************结尾*******************************************************/
	#footer > div.font > p {
		font-size: 24px;
	}

	#footer >  p {
		font-size: 30px;
		margin: 10px 0 50px 0;
		margin:-80px;
		opacity: 0;
	}

	#footer >  p > span:nth-child(1) {
		color: #f00;
	}

	#footer >  p > span:nth-child(2) {
		color: #3cf;
	}

	#footer >  p > span:nth-child(3) {
		color: #6c0;
	}

	#footer >  p > span:nth-child(4) {
		color: #f63;
	}

	#footer > div.font1 p {
		margin-bottom: 15px;
		opacity: 0;
	}
	/***小尾巴***/
	#bottom{
		height:2px;
		width:auto;
		background:#c3c2c2;
		margin-top: 160px;
		position: relative;
	}
	.ball{
		width:100px;
		height:100px;
		background:#c3c2c2;
		border-radius: 50%;
		position: absolute;
		top:-50px;
		left:450px;
		cursor: pointer;
		transition: all 0.2s ease-in-out;
		opacity: 0;
	}
	.ball:hover{
		box-shadow: 0 0 10px #279ABB;
	}